
@{
    ViewData["Title"] = "Enter Sweepstakes";
}

<h1>Enter Sweepstakes</h1>

<form method="post">
    <label>Full Name:</label>
    <input type="text" name="full-name" />
    <br />

    <label>Email:</label>
    <input type="text" name="email" />
    <br />

    <label>Primary Phone:</label>
    <input type="text" name="phone" />
    <br />
</form>