
@{
    ViewData["Title"] = "Enter Sweepstakes";
}

@if (ViewData["Added"] == null)
{
    <h1 class="text-center bg-dark text-white">Enter Sweepstakes</h1>

    <form method="post">
        <div class="form-group">
            <label>Full Name:</label>
            <input class="form-control" type="text" name="full-name" />
        </div>

        <div class="form-group">
            <label>E-mail:</label>
            <input class="form-control" type="text" name="email" />
        </div>

        <div class="form-group">
            <label>Primary Phone:</label>
            <input class="form-control" type="text" name="phone" />
         </div>

            <input class="btn btn-info" type="submit" value="Enter Contest!" />

    </form>
}
else
{
    <div class="text-center alert-success">@ViewData["Added"]</div>
}