@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-3 mb-2 bg-dark text-white">
    <h1 class="">2021 ULT-NERD SWEEPSTAKES!</h1>
    <p>Click the tab above to enter the contest with common MVC or using Modelbinding!</p>
</div>
