@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-3 mb-2 bg-dark text-white">
    <h1 class="">2021 ULT-NERD SWEEPSTAKES!</h1>
    <p>
        <p>
            Are you ready for the ultimate nerd paradise?
        </p>
        <p>
            Get ready to win the ultimate package, which includes:
        </p>
        <p>
            2021 gaming computer or 2021 gaming console!
        </p>
        <h4>
            Click the ENTER button above with common MVC or using Modelbinding
            and LEVEL UP!
        </h4>
    </p>
</div>
